# ~~~~~~~~~~~~~~~~~~~~~ ZCC - Compiler Options ~~~~~~~~~~~~~~~~~~~~~ #
#                                                                    #
#     This file contains all the ZCC compiler options. These fields  #
# determines various kind of behaviour the compiler will have.       #
#                                                                    #
# This file is respecting the Config format. For more information,   #
# Please check out at :                                              #
#               https://github.com/iasebsil83/Config                 #
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #






# -------- PRIMARY --------

#architecture type
ARCH							64

#default path for LLI inv
DEFAULT_LLI_INV_PATH			/home/starkiant/Documents/Coding/LLI/linux/cfg/inv.cfg

#default accessibility for implicit resources
DEFAULT_ACCESS_PUB				ON

#literal shortcuts for common structures.
COMMON_STC_SHORTCUTS			ON

#maximum number of instructions in a function to be turned into no-function
MAX_INSTRUCTS_NOFCT				1

#check NULLity before running any structure method. ON:stability, OFF:performance <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< no longer useful with Z impl ?
CHECK_NULL_STC_BEFORE_METHOD	ON

#if no operator has been found with the correct combination, look for parent types. ON: more flexible code (less redundant), OFF: strict code (better control)
OPES_SUPPORTS_INHERITANCE		ON

#if no method has been found for a type, look for it in its parent types. ON: more flexible code (less redundant), OFF: strict code (better control)
METHODS_SUPPORTS_INHERITANCE	ON

#undeclinated types implicit sources will be resolved by that type here
UNDCN_IMPLICITSOURCE			u8

#max nbr of dcn allowed for a type
DCN_NBR_MAX						8






# -------- SECONDARY --------

#empty declarations
EMPTY_DATA_ITEM_NULL	OFF #set null as initial value for empty data items






# -------- TECHNICAL --------

#maximum number of hex digits allowed in literal strings indexing
LS_CNT_DIGITS	8
