# ~~~~~~~~~~~~~~~~~~~~~~ ZCC - LLI settings ~~~~~~~~~~~~~~~~~~~~~~~ #
#                                                                   #
#     This file contains all configuration related to the targetted #
# LLI at compile time.                                              #
#                                                                   #
# This file is respecting the Config format. For more information,  #
# Please check out at :                                             #
#               https://github.com/iasebsil83/Config                #
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #






# -------- LLI --------

#location
PATH	/home/starkiant/Documents/Coding/LLI/Linux-x86_64-NC
