# ~~~~~~~~~~~~~~~~ ZCC - Precompiler Configuration ~~~~~~~~~~~~~~~~ #
#                                                                   #
#     This file contains all the ZCC precompiler configuration      #
# fields. These fields determine wether some parts of Z code will   #
# be compiled or not.                                               #
#                                                                   #
# Example (in myCode.z) :                                           #
# |                                                                 #
# | #CFG RUNTIME_ERRORS {                                           #
# |     //some code                                                 #
# | }                                                               #
# |                                                                 #
# | #!CFG CHECK_ALL {                                               #
# |     //some other code                                           #
# | }                                                               #
# |                                                                 #
#     When compiling "myCode.z", the code between the first braces  #
# will be kept after precompilation ONLY if field RUNTIME_ERRORS is #
# defined "ON" in this file. Same thing for the second braces but   #
# in the opposite way (if field is defined "OFF").                  #
#                                                                   #
#     Note that if a field has a different value than ON/OFF, ZCC   #
# will raise an error before doing anything to your code.           #
#                                                                   #
# This file is respecting the Config format. For more information,  #
# Please check out at :                                             #
#               https://github.com/iasebsil83/Config                #
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #






# -------- ERGONOMY --------

#indexing
NEGATIVE_INDEXING	ON

#errors
 RUNTIME_ERRORS		ON
   FATAL_ERRORS		ON
INTERNAL_ERRORS		ON #ON:stability, OFF:performance (prefer ON for debugging)

#debug
DEBUG_AVAILABLE		ON #ON:debug help but slightly bigger code, OFF:smaller code but no debug traces
DEBUG_AVAILABLE_STD	ON #same as DEBUG_AVAILABLE but this is only for standard library content






# -------- CONVENTIONNAL --------

#verification
CHECK_ALL				ON #ON:stability, OFF:performance

#stdz mode
SHARED_STDZ				OFF #ON:shared stdz, OFF:embedded stdz

#signed/unsigned relations
ALLOW_MIXED_OPERATIONS	OFF #ON:easier to code, OFF:more stable when reaching high values
ALLOW_MIXED_COMPARISONS	OFF #ON:easier to code, OFF:more stable when reaching high values






# -------- DEEP DEPTHS --------

#architecture (32/64 bits)
ARCH64				ON

#import/use stdz default libraries automatically at the very begining of your code
STDZ_AUTO_USE		ON #ON:regular use, OFF:at your own risk

#import/use stdz_core automatically at the very begining of your code <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< NOT USED and NOT TO USE !
#STDZ_CORE_AUTO_USE	ON #ON:regular use, OFF:at your own risk

#memory
ALLOCATION_PACKING	ON #ON:greater allocations but faster at runtime, OFF:shortest allocations but slower at runtime
MMAP_ERROR			ON
#HEAP_VIRTUALIZATION	ON #ON:faster, OFF:more stable? <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< NOT DONE YET

#low-level optimizations
# /!\ WARNING /!\ : CAN LEAD TO HIGH INSTABILITY
LOW_LEVEL_ERROR		ON #ON:stability, OFF:performance
