# ~~~~~~~~~~~~~~~~ ZINC - Precompiler Configuration ~~~~~~~~~~~~~~~~ #
#                                                                    #
#     This file contains all the ZINC precompiler configuration      #
# fields. These fields determine wether some parts of Z code will be #
# compiled or not.                                                   #
#                                                                    #
# Example (in myCode.z) :                                            #
# |                                                                  #
# | #CFG RUNTIME_ERRORS {                                            #
# |     //some code                                                  #
# | }                                                                #
# |                                                                  #
# | #!CFG CHECK_ALL {                                                #
# |     //some other code                                            #
# | }                                                                #
# |                                                                  #
#     When compiling "myCode.z", the code between the first braces   #
# will be kept after precompilation ONLY if field RUNTIME_ERRORS is  #
# defined "ON" in this file. Same thing for the second braces but    #
# in the opposite way (if field is defined "OFF").                   #
#                                                                    #
#     Note that if a field has a different value than ON/OFF, ZINC   #
# will raise an error before doing anything to your code.            #
#                                                                    #
# This file is respecting the Config format. For more information,   #
# Please check out at :                                              #
#               https://github.com/iasebsil83/Config                 #
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #






# -------- COMMON DAT STC --------

#tab
TAB__UNSAFE_ACCESS	OFF
TAB__HEAP_SAFE		OFF

#lst
LST__UNSAFE_ACCESS	OFF
LST__HEAP_SAFE		OFF

#dlt
DLT__UNSAFE_ACCESS	OFF
DLT__HEAP_SAFE		OFF






# -------- MEMORY --------

#memory
HEAP__PAD_ALLOC_UMAX		ON #ON:greater allocations but faster at runtime, OFF:shortest allocations but slower at runtime
HEAP__ILLEGAL_ACCESS_OUTPUT	ON #ON:tiny bit faster at each memory access, OFF:better output on error

#allocator specific
HEAP__BEST_FIT_BEST__NEIGHBOR_LIMIT	OFF






# -------- BASIC --------

#architecture (32/64 bits)
ARCH64			ON

#low-level optimizations
# /!\ WARNING /!\: DISABLING CAN LEAD TO HIGH INSTABILITY
LOW_LEVEL_ERROR	ON #ON:stability, OFF:performance
